/**
 * Import Bulma css framework, installed by npm. 
 */
 @import '../../node_modules/bulma/css/bulma.css';

 /**
  * Import Box Icons modules, installed by npm.
  */
@import '../../node_modules/boxicons/css/boxicons.css';

 /**
  * Import Bulma Calendar modules
  */
@import '../../node_modules/bulma-calendar/dist/css/bulma-calendar.min.css';

:root {
  /* Colors */
  --body-color: rgba(0,0,0,.09);
  --sidebar-color: #fff;
  --primary-color: #0089d8;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* Transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

div.no-scrollbar::-webkit-scrollbar {
    display: none;
}

div.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div.full-height {
  height: 100vh;
}

div.scrollable {
  overflow-y: auto;
  max-height: 70vh;
  width: 100%;
  border: 2px solid #ccc;
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
}

/* General */
hr {
  height: 0;
  border: 0;
  width: 90%;
  border-top: 1px solid rgba(0,0,0,.35);
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
}


/*
 * Main content. 
 */
 .main-content {
  padding-left: 13vw;
}

/*
 * Boxes. 
 */
.has-background-blue-light {
  background-color: var(--body-color);
}

.invisible-box {
  border: none;
  background-color: transparent;
  box-shadow: none;
  transition: background-color 0.3s, color 0.3s;
}

/* Styles when hovering over the invisible-box */
.invisible-box:hover  {
  background-color: rgba(0,0,0,.04);
}

.nav-icon {
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

/* SolidoCS logo */
.solidocs-logo {
  height: 8vh;
  width: auto;
  display: block; 
  margin-top: 24px;
}