/**
 * Import Bulma css framework, installed by npm. 
 */
 @import '../../node_modules/bulma/css/bulma.css';

 /**
  * Import Box Icons modules, installed by npm.
  */
@import '../../node_modules/boxicons/css/boxicons.css';

 /**
  * Import Bulma Calendar modules
  */
@import '../../node_modules/bulma-calendar/dist/css/bulma-calendar.min.css';

:root {
  /* Colors */
  --body-color: rgba(0,0,0,.09);
  --sidebar-color: #fff;
  --primary-color: #0089d8;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* Transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;

  /* Heights */
  --top-nav-bar-height: 60%;
}

div.no-scrollbar::-webkit-scrollbar {
    display: none;
}

div.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div.full-height {
  height: 100vh;
}

div.scrollable {
  overflow-y: auto;
  max-height: 70vh;
  width: 100%;
  border: 2px solid #ccc;
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
}

/* General */
hr {
  height: 0;
  border: 0;
  width: 95%;
  border-top: 1px solid rgba(0,0,0,.15);
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
}

.border-right {
  border-right: 1px solid rgba(0,0,0,.15);
}

.border-bottom {
  border-bottom: 1px solid rgba(0,0,0,.15);
}

/*
 * Main content. 
 */
 .main-content {
  padding-left: 13vw;
}

div.main-page {
  /* Fix height */
  padding-top: 12px;
}

/*
 * Boxes. 
 */
.has-background-blue-light {
  background-color: var(--body-color);
}

.invisible-box {
  border: none;
  background-color: transparent;
  box-shadow: none;
  transition: background-color 0.3s, color 0.3s;
}

/* Styles when hovering over the invisible-box */
.invisible-box:hover  {
  background-color: rgba(0,0,0,.04);
}

.invisible-box.active {
  background-color: rgba(0,0,0,.04);
}

.nav-icon {
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

/* SolidoCS logo */
.solidocs-logo {
  height: 8vh;
  width: auto;
  display: block; 
  margin-top: 12px;
}

/* Top nav bar */
.top-header {
  height: calc(8vh + 24px * 2);
}

.top-nav-bar {
  height: var(--top-nav-bar-height);
  /* background-color: rgb(214, 209, 209); */
}

.user-icon {
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

.notification-icon {
  font-size: 25px;
  align-items: center;
  justify-content: center;
}

div.separator {
  border-right: 1px solid rgba(0,0,0,.15); 
  margin-bottom: 5px;
  height: 45px;
  width: 0;
}

/* Contact channels */
.channels {
  height: calc(100% - var(--top-nav-bar-height));
  background-color: #c4027b;
}

.channels p, .channels li{
  color: white;
}

.channel-link {
  display: flex;
  align-items: center;
  background-color: #e2e2e2;
  border-radius: 10px;
  padding: 7px 20px;
  transition: background-color 0.3s;
}

.channel-link p {
  color: #4a4a4a;
}

.channel-link:hover {
  background-color: #e5e5e5; 
}

.channel-logo {
  height: 30px;
}